:root{
    --header-font: 'Comfortaa', sans-serif;
    --primary-font: 'Open Sans', sans-serif;

    --card-background: #ccc;
    --card-text-background: #fff;
    --modal-bg: #eee;

    /*Semantic colors*/
    --destroy-color:#ff5050;
    --confirm-color:#27a154;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}
.linkIcon{
    color:#777;
}
.tabBox{
    margin: auto;
    display:flex;
    width: 100%;
    text-align: center;
    background: #777;
    border-radius: 10px;
    border:1px solid #777;
    a{
        width: 100%;
        border-radius: inherit;
    }
    a:hover{
        background-color: #eee;
    }
}

#houseDetails{
    min-height: 100vh;
}
.buttonBox{
    width: 100%;
    display:flex;
    margin-top: 20px;
    button{
        width: 100%;
        text-align:center
    }

    .destroyButton{
        background-color:var(--destroy-color);
    }
    .confirmButton{
        background-color:var(--confirm-color);
    }
    .cancelButton{
        background-color: #ccc;
    }
}
.detailsView{

    min-height: 100vh;
    background-color: var(--card-text-background);
    padding:2%;
    /* Text settings*/
    

    .detailsBody{
        .detailsHeader{
            font-size: 1.5em;
            font-family: var(--primary-font)
        }
    
        .detailsInfo1{
            font-size: 1em;
            font-family: var(--primary-font)
        
        }
    }
}

.selectContainer{
    width: 90%;
    display:grid;
    margin:auto;
    margin-bottom: 20px;
    
    label{
        font-weight: 600;
    }
    select{
        font-size: 1.25em;
    }
}
.extendedInfo, .houseInfo{
    background-color: var(--card-text-background);
    padding:2%;
    /* Text settings*/
    h2{
        font-size: 1.5em;
        font-family: var(--primary-font)
    }

    p{
        font-size: 1em;
        font-family: var(--primary-font)
    
    }
}
/*house info, used in house-cards to acheive current "segmented" look*/
.houseInfo{
    
    border-radius: 0 0 5px 5px;
    grid-area: b;

    
    #expandInfoButton{
        width: 50%;
        margin:auto;
        background:inherit;
        border:none;
        border-top:1px solid black;
    }
}

/*container, clickable event to remove modal, semi-transparent bg*/
.modalContainer{

    background-color: rgba(0,0,0,0.2);
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:grid;
    place-items: center;
    overflow-y:auto;
}
/*container for content*/
.modal{
    position: relative;
    width: 100%;
    height:100%;
    background-color:var(--modal-bg);
    /*Button for closing a modal*/
    .closeButton{
        background-color: #505050;
        border: 2px solid #202020;
        color:#fff;
        border-radius: 100%;
        width:1.5rem;
        height:1.5rem;
        position: absolute;
        top: 4%;
        right:4%;
    }
}
.confirmModal{
    position: relative;
    width: 90%;
    height: 40%;
    background-color:var(--modal-bg);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;

    button{
        border: 2px solid #202020;
        height: 70px;
        min-width: 100px;
        max-width: 100%;
        place-self: center;
        border-radius: 15px;


    }

    >.confirmContent{
        display:block;
        text-align: center;
    }
    
}
/*ButtonBox for confirm modal*/
.buttonBox2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: fit-content;
    padding: 4%;
    display: flex;
  
    .destroyButton{
        background-color:var(--destroy-color);
    }
    .confirmButton{
        background-color:var(--confirm-color);
    }
    .cancelButton{
        background-color: #ccc;
    }
}



/*header used for each content-page, generally used to tell a user where they are
  ie. if I'm browing my houses, contentHeader is 'HOUSES', or if im creating a house, 
  contentHeader is 'CREATE HOUSE'*/
.contentHeader{
    text-align:center;
    font-weight: 400;
    letter-spacing: 1.5;
}

/*^
    Wrapper used for houses, it should perhaps be turned into a class, since this code
    will be re-used by every card-wrapper div, across all views not only houses.
*/
#houseWrapper, #taskWrapper{
    display:grid;
    place-items:center;
    overflow-y: scroll;

    /* background:greenyellow; */
}

/*
    Card-view. grid-template-areas make a "blank" portion above the data, that
    maybe can be swapped out with a color for different card-types 
    (i.e. contractors are yellow, houses are blue etc.)
*/
.card, .houseCard{
    display:grid;
    min-height: 30vh;
    width:90%;
    margin-bottom:10px;
    background:var(--card-text-background);
    padding:2%;
    border-radius: 5px;
    border:2px solid black;


    .buttonBox{
        display:flex;
        
        button{
            width: 100%;
        }
    }
}
.houseCard{
    padding:0;
    background:var(--card-background);
    grid-template-areas: 
        "a a a"
        "a a a"
        "a a a"
        "b b b";
}

form{
    display:grid;
    place-items:center;

    input{
        width: 90%;
        font-size: 1.2rem;
        padding: 2%;
    }
    input[type="submit"]{
        font-size: 1rem;
    }
    
}
.labelWrapper{
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom:5px;
    >*{
        width: 90%;
        padding: 1%;
        text-align: start;
    }
    
}


@media only screen and (min-width: 768px) {
    
    #houseModal{
        width: 90%;
        height:90%;
        border-radius: 10px;

    }
  }