:root{
    --header-font: 'Comfortaa', sans-serif;
    --primary-font: 'Open Sans', sans-serif;

    --card-background: #ccc;
    --card-accent:#707070;
    --card-text-background: #fff;
    --modal-bg: #eee;

    /*colors for card-types*/
    --card-blue: #103fb5;
    --card-teal:#5be7d0;
    --card-green: #267e62;
    --card-light-green:#87eda8;
    --card-purple: #7a1470;
    --card-yellow: #F2F280;



    /*Semantic colors*/
    --destroy-color:#ff5050;
    --confirm-color:#27a154;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}
/* Part of Alpine.JS, this will prevent items from "blipping" on page-load */
[x-cloak] { display: none !important; }

/* sidebar and header css*/
header {
    height: 10vh;
    border: 1px solid #4d4d3d;
    padding: 3%;
    display: flex;
    gap: 10px;
    align-items: center;

}
.navItem {
    display: grid;
    place-content: center;
}
.sidebar {
    background: #fafafa;
    position: absolute;
    left: 0;
    right: auto;
    width: 250px;
    transform: translate3d(-100%, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    a {
        text-decoration:none;
        display: block;
    }
}
.sidebarGroup {
    padding: 2%;
    border:1px solid black;
    margin-bottom:10px;
}
.sidebarLinkItem {
    padding: 3%;
    display:flex;
    align-items:center;
    border-bottom:1px solid gray;

    .icon {
        margin-right:5px;
    }
}
.sidebar.active {
    transform: none !important;

}
.pushable.pushed{

    position: static;
    transform: translateX(250px);
    /* background-color:  rgba(0,0,0,0.4) !important; */
}
.pushable, .sidebar {
    transition: transform .5s cubic-bezier(0.52, -0.01, 0.25, 1)
}
.overlay{
    display:none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: rgba(20,20,20,.4);
}
.overlay.pushed{
    display:block;
}

main {
    height: 90vh;
}

/* CSS for the login-view*/
#loginContent{
    width:90%; margin-left:auto; margin-right:auto; min-height:60vh;
    display:grid;
    place-items:center;
    padding:6%;
    border-radius: 10px;
    border: 2px solid black;
    position:relative;
}
#loginButtons{
    
    width:100%;
    display:grid;
    place-items:center;
    a{
        border:2px solid red;
        border-radius: 15px;
        padding:2%;
    }
    
}
#loginTabs{
    background:#eee;

    width:100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    text-align:center;
    border-radius:10px 10px 0 0 ;

    a{

        padding:2%;
        
        border-bottom: 2px solid #202020;
    }
    a.selected{
        background:#fff;
        border-bottom:none;
        border-radius: 10px 10px 0 0;
        border-left:1px solid #202020;
        border-right:1px solid #202020;
    }
}
#notLoggedIn{
    width:100%;
    min-height:30vh;
    background:#ffc1c1;
    
    .contentHeader {
        margin-bottom:10px;
    }
    #notLoggedInContent{
        display:flex; 
        width:85%;
        margin-left:auto; 
        margin-right:auto;
    }
    .icon{

        flex: 1;
        font-size:6rem;
        text-align:center;
    }
    #notLoggedInText{
        flex: 2; 
        align-content:center;

        button {
            display:block;
            padding:3%;
            margin-top:0.5rem;
            margin-bottom:0.5rem;
            margin-left:auto;
            margin-right:auto;
            width:40%;
        }
    }
}


/*CSS for the tabview, tabs-wrapper, and tabcontent*/
.tabview{
    width:100%;
    position:relative;
}
.tabs{
    background:#eee;
    display:grid;
    /* grid-template-columns: repeat(3, 1fr); */
    text-align:center;
    a{

        padding:2%;
        
        border-bottom: 2px solid #202020;
    }
    a.selected{
        background:#fff;
        border-bottom:none;
        border-top:2px solid #202020;
        border-left:2px solid #202020;
        border-right:2px solid #202020;
        border-radius: 8px 8px 0 0;
    }
}
.tabcontent{
    width:90%;
    padding:4%;
    margin-left: auto; margin-right: auto; 
}

/* helper classes determining width of the tabs-container (amount of grid columns)*/
.tabs.two-wide{
    grid-template-columns: repeat(2, 1fr);
}
.tabs.three-wide{
    grid-template-columns: repeat(3, 1fr);
}
.tabs.four-wide{
    grid-template-columns: repeat(4, 1fr);
}
.tabs.five-wide{
    grid-template-columns: repeat(5, 1fr);
}

/*Alternate tabview, used for selecting sub-tabs*/
.tabview.alternate{
    /*
        Alternate tab-view, used without .tabcontent, and only for selecting a sub-tab
         (houseCards, houseDetails, Form, etc. etc.) 
        
        Generally (differences from regular tabview) :
          .tabs : Thick border, rounded courners. 
          a : Borders on the left and right of items (separating clickable items)
          a.selected : no borders and no border-radius on selected item. 
    */
    .tabs {
        border:2px solid black;
        border-radius:10px;
        a{

            border-bottom: none;
            border-top:none;
            border-left:1px solid #202020;
            border-right:1px solid #202020;
        }
        a.selected{
            background:#fff;
            border-radius: 0 0 0 0;
        }

        /* Not showing borders to the left, or right; to first and last items respectively */
        a:first-of-type{
            border-left:none;
        }
        a:last-of-type {
            border-right:none;
        }

        /* Showing border-radius of parent-div correctly.*/
        a:first-of-type.selected{
            border-radius: 10px 0 0 10px;
        }
        a:last-of-type.selected{
            border-radius: 0 10px 10px 0;
        }
    }
}

/*Box used to align buttons, and setting background colors of buton based on classes*/
.buttonBox{
    width: 100%;
    display:flex;
    margin-top: 20px;
    button{
        width: 100%;
        text-align:center
    }

    .destroyButton{
        background-color:var(--destroy-color);
    }
    .confirmButton{
        background-color:var(--confirm-color);
    }
    .cancelButton{
        background-color: #ccc;
    }
}

/*Details view - used to display the details of an "object" (House, Task, User, Suggestion etc)*/
.detailsView{

    min-height: 100vh;
    background-color: var(--card-text-background);
    padding:2%;    

    .detailsBody{
        width:90%; 
        margin:auto;
        .detailsHeader{
            font-size: 1.5em;
            font-family: var(--primary-font)
        }
    
        .detailsInfo1{
            font-size: 1em;
            font-family: var(--primary-font)
        
        }
    }
}

/* Labels and alignment for <input>/<select> elements*/
.selectContainer, .labelContainer{
    width: 90%;
    display:grid;
    margin:auto;
    margin-bottom: 20px;
    
    label{
        width: 100%;
        font-weight: 600;
    }
    select{
        font-size: 1.25em;
    }
    input{
        width: 100%;
        place-self:center;
    }
}
.labelContainer{
    place-items:center;
}

/*container for a modal, semi-transparent bg, equiped with a "clickable" event to remove the modal*/
.modalContainer{
    background-color: rgba(0,0,0,0.2);
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:grid;
    place-items: center;
    overflow-y:auto;
}

.confirmModal, .modal{
    position: relative;
    width: 90%;
    min-height: 40%;
    background-color:var(--modal-bg);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;

    button{
        border: 2px solid #202020;
        height: 70px;
        min-width: 100px;
        max-width: 100%;
        place-self: center;
        border-radius: 15px;


    }

    >.confirmContent{
        display:block;
        text-align: center;
    }
    
}

/*header used for each content-page, generally used to tell a user where they are
  ie. if I'm browsing my houses, contentHeader is 'HOUSES', or if im creating a house, 
  contentHeader is 'CREATE HOUSE'*/
.contentHeader{
    text-align:center;
    font-weight: 400;
    letter-spacing: 1.5;
}

/* Wrapper used for houses, it should perhaps be turned into a class, since this code
    will be re-used by every card-wrapper div, across all views not only houses.
*/
#houseWrapper, #taskWrapper, #contractorWrapper, #userWrapper{
    display:grid;
    place-items:center;
    /* overflow-y: scroll; */

    /* background:greenyellow; */
}

/*
    Card-view. grid-template-areas make a "blank" portion above the data, that
    maybe can be swapped out with a color for different card-types 
    (i.e. contractors are yellow, houses are blue etc.)
*/
.card{
    display:grid;
    min-height: 30vh;
    width:90%;
    margin-bottom:10px;
    background:var(--card-accent);
    border-radius: 5px;
    border:2px solid black;
    grid-template-areas: 
        "a a icon"
        "a a icon"
        "a a icon"
        "b b b";

    .buttonBox{
        display:flex;
        
        button{
            width: 100%;
        }
    }
}
.card.blue{
    background: var(--card-blue);
}
.card.teal{
    background:var(--card-teal);
}
.card.green{
    background:var(--card-green);
}
.card.light-green{
    background:var(--card-light-green);
}
.card.purple{
    background:var(--card-purple);
}
.card.yellow{
    background:var(--card-yellow);
}

/*the text for each card-item*/
.cardInfo{
    
    border-radius: 0 0 5px 5px;
    grid-area: b;

    background-color: var(--card-text-background);
    padding:2%;
    /* Text settings*/
    h2{
        font-size: 1.5em;
        font-family: var(--primary-font)
    }

    p{
        font-size: 1em;
        font-family: var(--primary-font)
    
    }
    
    
}
.cardIcon {
    grid-area: icon;
    position:relative;
    span{
        position:absolute;
        top:1rem;
        right:1rem;
        font-size: 4em;
    }
}

form{
    display:grid;
    place-items:center;

    input{
        width: 90%;
        font-size: 1.2rem;
        padding: 2%;
    }
    input[type="submit"]{
        font-size: 1rem;
    }
    
}

/*Mobile first was implemented, and there really isn't a whole-lot going on here.*/
@media only screen and (min-width: 768px) {
    
    #loginContent {
        max-width: 60%;
        
    }

    #notLoggedIn{
        width:100%;
        min-height:30vh;
        background:#ffc1c1;
        
        .contentHeader {
            margin-bottom:10px;
        }
        #notLoggedInContent{
            width:60%;
        }
        .icon{
            font-size:8rem;
            text-align:center;
        }
    }
}

/* W3 SCHOOLS sourced slider-toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 1rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 0.7rem;
    width: 0.7rem;
    left: 0.15rem;
    bottom: 0.15rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--destroy-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--destroy-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }