extends template.pug 
//- 
    This is an index 'view' and could be used as a way to tell users to authenticate
    providing a link on where to do it.

    As you can see, now it is used to show the "user" view. 
block content
    h2 index 