doctype html 

html 
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        if title 
            title= title
        else 
            title= "template"

        link(rel="stylesheet", href="style.css")
       
        //- Fonts
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")

        //- Icons
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
        script(src="client.js" defer)

        //- Alpine collapse plugin (animations for a collapsable view)
        script( src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js" defer)

        //- Main Alpine JS
        script( src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer)

    body
        div.sidebar
            div.sidebarGroup
                h2.contentHeader Account
                a(href="/login") 
                    div.sidebarLinkItem
                        span.material-symbols-outlined.icon passkey
                        span Login
                a(href="/auth/logout") 
                    .sidebarLinkItem
                        span.material-symbols-outlined.icon logout
                        span Logout
            if permissions
                div.sidebarGroup
                    h2.contentHeader Views
                        if permissions.user
                            a(href="/")
                                div.sidebarLinkItem
                                    span.material-symbols-outlined.icon home 
                                    span Index
                            a(href="/")
                                .sidebarLinkItem
                                    span.material-symbols-outlined.icon person
                                    span User
                        if permissions.worker 
                            a(href="/")
                                .sidebarLinkItem
                                    span.material-symbols-outlined.icon build
                                    span Worker
                        if permissions.admin
                            a(href="/admin")
                                div.sidebarLinkItem
                                    span.material-symbols-outlined.icon shield_person
                                    span Admin
                    
            else 
                div.sidebarGroup
                    h2.contentHeader Views
                    a(href="/") 
                        div.sidebarLinkItem
                            span.material-symbols-outlined.icon home 
                            span Index
                    a(href="/user")
                        div.sidebarLinkItem
                            span.material-symbols-outlined.icon person
                            span User
                    a(href="/worker")
                        div.sidebarLinkItem
                            span.material-symbols-outlined.icon build
                            span Worker
                    a(href="/admin") 
                        div.sidebarLinkItem 
                            span.material-symbols-outlined.icon shield_person
                            span Admin
        div.pushable
            div.overlay 
            header 
                nav 
                    div(class="navItem" id="expandButton")
                        span.material-symbols-outlined menu
                h1 Maintenance
                
                
            main 
                block content