doctype html 

html 
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        if title 
            title= title
        else 
            title= "template"

        link(rel="stylesheet", href="style.css")
       
        //- Fonts
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")

        //- Icons
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(src="client.js" defer)

        //- Alpine collapse plugin (animations for a collapsable view)
        script( src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js" defer)

        //- Main Alpine JS
        script( src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer)
 
    body 
        header 
            h1 Maintenance
            nav
                a(href="/login") Login
                a(href="/") Index
                a(href="/user") User
                a(href="/worker") Worker
                a(href="/admin") Admin
                a(href="/auth/logout") Logout
            
        main 
            block content